@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 62.5%;
}
@media (max-width: 1000px) {
  html {
    font-size: 1vw;
  }
}

input {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: currentColor;
}

.body {
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: max(1.8rem, 14px);
  background-color: #f3f3f3;
}
@media (max-width: 1000px) {
  .body {
    padding: 0;
  }
}

.main {
  max-width: 100rem;
  min-height: 100rem;
  background-color: #e5efe7;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3019607843);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}

.profile {
  position: absolute;
  padding: 4rem 0;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.profile__image {
  width: 25rem;
  height: 25rem;
  margin-bottom: 2rem;
  transform: translateX(-5rem);
  z-index: 1;
}
@media (max-width: 500px) {
  .profile__image {
    width: 35rem;
    height: 35rem;
  }
}
.profile__container {
  height: 0;
  width: 76rem;
  border-top: 25rem solid #3a3d42;
  border-left: 0 solid transparent;
  border-right: 5rem solid transparent;
  z-index: 2;
}
@media (max-width: 1000px) {
  .profile__container {
    width: calc(100vw - 24rem);
  }
}
@media (max-width: 500px) {
  .profile__container {
    border-top: 35rem solid #3a3d42;
    width: calc(100vw - 34rem);
  }
}
.profile__description {
  display: flex;
  flex-direction: column;
  transform: translateY(-20rem);
  color: #e5efe7;
}
@media (max-width: 500px) {
  .profile__description {
    transform: translateY(-28rem);
  }
}
.profile__title {
  font-size: max(4rem, 25px);
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .profile__title {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .profile__title {
    margin-bottom: 1rem;
    font-size: max(5rem, 18px);
  }
}
.profile__subtitle {
  font-size: max(2.5rem, 14px);
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .profile__subtitle {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 500px) {
  .profile__subtitle {
    margin-bottom: 2.5rem;
    font-size: max(3rem, 12px);
  }
}
.profile__contacts {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .profile__contacts {
    margin-bottom: 2rem;
  }
}
.profile__icon {
  height: max(3rem, 20px);
  width: max(3rem, 20px);
}
@media (max-width: 500px) {
  .profile__icon {
    height: max(4.5rem, 16px);
    width: max(4.5rem, 16px);
  }
}
.profile__icon_phone {
  background: url("../assets/svg/phone.svg") no-repeat 0 0/contain;
  transition: transform 0.5s;
}
.profile__icon_phone:hover {
  transform: scale(1.3);
}
.profile__icon_mail {
  background: url("../assets/svg/mail.svg") no-repeat 0 0/contain;
  transition: transform 0.5s;
}
.profile__icon_mail:hover {
  transform: scale(1.3);
}
.profile__icon_telegram {
  background: url("../assets/svg/telegram.svg") no-repeat 0 0/contain;
  transition: transform 0.5s;
}
.profile__icon_telegram:hover {
  transform: scale(1.3);
}
.profile__icon_skype {
  background: url("../assets/svg/skype.svg") no-repeat 0 0/contain;
  transition: transform 0.5s;
}
.profile__icon_skype:hover {
  transform: scale(1.3);
}
.profile__icon_github {
  background: url("../assets/svg/github.svg") no-repeat 0 0/contain;
  transition: transform 0.5s;
}
.profile__icon_github:hover {
  transform: scale(1.3);
}
.profile__info {
  padding-right: 4rem;
  text-transform: none;
  align-self: end;
  font-size: max(1.8rem, 12px);
}
@media (max-width: 500px) {
  .profile__info {
    font-size: max(2.8rem, 12px);
  }
}

.left-side {
  position: relative;
  padding: 33rem 4rem 4rem;
  color: #e5efe7;
  background-color: #6d6e72;
  z-index: 1;
}
@media (max-width: 768px) {
  .left-side {
    background-color: #e5efe7;
    color: #6d6e72;
    padding-top: 0;
  }
}

.section {
  padding-bottom: 3rem;
}
.section__title {
  margin-bottom: 3rem;
  position: relative;
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: max(2.2rem, 18px);
  text-transform: uppercase;
}
.section__title::before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 99.5%;
  left: 2px;
  height: 50%;
  z-index: -1;
  box-shadow: 0 2rem 0.7rem #3a3d42;
}
@media (max-width: 500px) {
  .section__title::before {
    transform: rotate(1.5deg);
    width: 99%;
    left: 2px;
  }
}
.section__title_light {
  background-color: #e5efe7;
  color: #6d6e72;
}
@media (max-width: 768px) {
  .section__title_light {
    background-color: #6d6e72;
    color: #e5efe7;
  }
}
.section__title_light::before {
  transform: rotate(3deg);
}
@media (max-width: 768px) {
  .section__title_light::before {
    transform: rotate(1deg);
  }
}
.section__title_dark {
  background-color: #6d6e72;
  color: #e5efe7;
}
.section__title_dark::before {
  transform: rotate(1deg);
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}
@media (max-width: 768px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .skills {
    grid-template-columns: 1fr 1fr;
  }
}
.skills__title {
  text-transform: capitalize;
  padding-left: max(3rem, 25px);
  font-size: max(1.8rem, 16px);
}

.skills__icon_react {
  background: url("../assets/svg/react.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_react {
    background: url("../assets/svg/react-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_redux {
  background: url("../assets/svg/redux.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_redux {
    background: url("../assets/svg/redux-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_js {
  background: url("../assets/svg/js.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_js {
    background: url("../assets/svg/js-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_ts {
  background: url("../assets/svg/ts.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_ts {
    background: url("../assets/svg/ts-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_html {
  background: url("../assets/svg/html.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_html {
    background: url("../assets/svg/html-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_css {
  background: url("../assets/svg/css.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_css {
    background: url("../assets/svg/css-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_sass {
  background: url("../assets/svg/sass.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_sass {
    background: url("../assets/svg/sass-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_bem {
  background: url("../assets/svg/bem.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_bem {
    background: url("../assets/svg/bem-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_git {
  background: url("../assets/svg/git.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_git {
    background: url("../assets/svg/git-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_npm {
  background: url("../assets/svg/npm.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_npm {
    background: url("../assets/svg/npm-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_figma {
  background: url("../assets/svg/figma.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_figma {
    background: url("../assets/svg/figma-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_photoshop {
  background: url("../assets/svg/photoshop.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_photoshop {
    background: url("../assets/svg/photoshop-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_vscode {
  background: url("../assets/svg/vscode.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_vscode {
    background: url("../assets/svg/vscode-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_webstorm {
  background: url("../assets/svg/webstorm.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_webstorm {
    background: url("../assets/svg/webstorm-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_postman {
  background: url("../assets/svg/postman.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_postman {
    background: url("../assets/svg/postman-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_swagger {
  background: url("../assets/svg/swagger.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .skills__icon_swagger {
    background: url("../assets/svg/swagger-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_node {
  background: url("../assets/svg/node.svg") no-repeat 0 0/contain;
  grid-column: 1/3;
}
@media (max-width: 768px) {
  .skills__icon_node {
    background: url("../assets/svg/node-resp.svg") no-repeat 0 0/contain;
  }
}
.skills__icon_rtl {
  background: url("../assets/svg/rtl.svg") no-repeat 0 0/contain;
  grid-column: 1/3;
}
@media (max-width: 768px) {
  .skills__icon_rtl {
    background: url("../assets/svg/rtl-resp.svg") no-repeat 0 0/contain;
    grid-column: span 2;
  }
}

.education {
  display: flex;
  flex-direction: column;
  gap: max(1rem, 10px);
}
.education__year {
  font-size: max(1.8rem, 14px);
  color: #3a3d42;
  font-weight: 700;
}
.education__description {
  font-size: max(1.6rem, 14px);
}

.lang__item {
  text-transform: uppercase;
  font-size: max(1.6rem, 14px);
  line-height: max(2.4rem, 20px);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: max(1rem, 8px);
  align-items: flex-start;
}
@media (max-width: 768px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}
@media (max-width: 500px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
.contacts__item {
  position: relative;
  padding-left: max(3rem, 25px);
}
.contacts__item::after {
  position: absolute;
  top: 110%;
  left: 0;
  content: "";
  height: max(0.2rem, 2px);
  width: 0;
  background-color: currentColor;
  transition: width 1s;
}
.contacts__item:hover::after {
  width: 100%;
}
.contacts__item:nth-child(1) {
  background: url("../assets/svg/location.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(1) {
    background: url("../assets/svg/location-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(2) {
  background: url("../assets/svg/phone.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(2) {
    background: url("../assets/svg/phone-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(3) {
  background: url("../assets/svg/mail.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(3) {
    background: url("../assets/svg/mail-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(4) {
  background: url("../assets/svg/github.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(4) {
    background: url("../assets/svg/github-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(5) {
  background: url("../assets/svg/telegram-2.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(5) {
    background: url("../assets/svg/telegram-2-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(6) {
  background: url("../assets/svg/skype.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(6) {
    background: url("../assets/svg/skype-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(7) {
  background: url("../assets/svg/discord.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(7) {
    background: url("../assets/svg/discord-resp.svg") no-repeat 0 0/contain;
  }
}
.contacts__item:nth-child(8) {
  background: url("../assets/svg/codewars.svg") no-repeat 0 0/contain;
}
@media (max-width: 768px) {
  .contacts__item:nth-child(8) {
    background: url("../assets/svg/codewars-resp.svg") no-repeat 0 0/contain;
  }
}

.right-side {
  position: relative;
  padding: 33rem 4rem 4rem;
  background-color: #e5efe7;
  z-index: 0;
  color: #3a3d42;
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  .right-side {
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  .right-side {
    padding-top: 41rem;
  }
}

.summary {
  text-indent: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 768) {
  .summary {
    font-size: 1rem;
  }
}

.projects-container {
  overflow: hidden;
}

.projects {
  display: flex;
  width: 700%;
  transition: transform 1s ease;
}
.projects__item {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
}
.projects__item > .project__item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  color: #3a3d42;
  background-color: #e5efe7;
  opacity: 0.9;
  transform: translateY(90%);
  transition: transform 1s;
}
@media (max-width: 768px) {
  .projects__item > .project__item-text {
    font-size: max(2.2rem, 14px);
    transform: translateY(min(92%, 100% - 20px));
  }
}
.projects__item:hover > .project__item-text {
  transform: translateY(60%);
}
@media (max-width: 500px) {
  .projects__item:hover > .project__item-text {
    transform: translateY(40%);
  }
}
.projects__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding-top: max(1rem, 10px);
}
.projects__navigation-item {
  width: max(1.3rem, 13px);
  height: max(1.3rem, 13px);
  background-color: #6d6e72;
  border-radius: 50%;
  border: 0.2rem solid #6d6e72;
  cursor: pointer;
  transition: 0.5s;
}
.projects__navigation-item:hover {
  background-color: #3a3d42;
  border: 0.2rem solid currentColor;
}

.project__item-description {
  padding: 2rem;
  font-size: max(1.6rem, 14px);
  text-align: center;
}

#portfolio:checked ~ .projects {
  transform: translateX(0%);
}
#portfolio:checked ~ .projects__navigation .portfolio {
  background-color: #e5efe7;
}

#rs-lang:checked ~ .projects {
  transform: translateX(-14.2857142857%);
}
#rs-lang:checked ~ .projects__navigation .rs-lang {
  background-color: #e5efe7;
}

#kanban:checked ~ .projects {
  transform: translateX(-28.5714285714%);
}
#kanban:checked ~ .projects__navigation .kanban {
  background-color: #e5efe7;
}

#react-app:checked ~ .projects {
  transform: translateX(-42.8571428571%);
}
#react-app:checked ~ .projects__navigation .react-app {
  background-color: #e5efe7;
}

#online-store:checked ~ .projects {
  transform: translateX(-57.1428571429%);
}
#online-store:checked ~ .projects__navigation .online-store {
  background-color: #e5efe7;
}

#virtual-keyboard:checked ~ .projects {
  transform: translateX(-71.4285714286%);
}
#virtual-keyboard:checked ~ .projects__navigation .virtual-keyboard {
  background-color: #e5efe7;
}

#mem-slider:checked ~ .projects {
  transform: translateX(-85.7142857143%);
}
#mem-slider:checked ~ .projects__navigation .mem-slider {
  background-color: #e5efe7;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: max(1rem, 10px);
}
.experience__year {
  font-size: max(1.8rem, 14px);
  color: #3a3d42;
  font-weight: 700;
}
.experience__title {
  font-weight: 700;
}
.experience__description {
  font-size: max(1.6rem, 14px);
}

.certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.certificates__item:nth-child(1) {
  width: 100%;
  height: 12.9rem;
  background: url("../assets/image/certificate-1.jpg") no-repeat 0 0/cover;
  transition: transform 0.7s, box-shadow 0.7s;
}
.certificates__item:nth-child(1):hover {
  box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
  transform: translateX(calc(100% + 2rem)) translateY(-100%) scale(3.5);
}
@media (max-width: 768px) {
  .certificates__item:nth-child(1) {
    width: 100%;
    height: 20.7rem;
    background: url("../assets/image/certificate-1.jpg") no-repeat 0 0/cover;
    transition: transform 0.7s, box-shadow 0.7s;
  }
  .certificates__item:nth-child(1):hover {
    box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
    transform: translateX(calc(100% + 2rem)) translateY(-100%) scale(3);
  }
}
.certificates__item:nth-child(2) {
  width: 100%;
  height: 12.9rem;
  background: url("../assets/image/certificate-2.jpg") no-repeat 0 0/cover;
  transition: transform 0.7s, box-shadow 0.7s;
}
.certificates__item:nth-child(2):hover {
  box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
  transform: translateX(0) translateY(-100%) scale(3.5);
}
@media (max-width: 768px) {
  .certificates__item:nth-child(2) {
    width: 100%;
    height: 20.7rem;
    background: url("../assets/image/certificate-1.jpg") no-repeat 0 0/cover;
    transition: transform 0.7s, box-shadow 0.7s;
  }
  .certificates__item:nth-child(2):hover {
    box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
    transform: translateX(0) translateY(-100%) scale(3);
  }
}
.certificates__item:nth-child(3) {
  width: 100%;
  height: 12.9rem;
  background: url("../assets/image/certificate-3.jpg") no-repeat 0 0/cover;
  transition: transform 0.7s, box-shadow 0.7s;
}
.certificates__item:nth-child(3):hover {
  box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
  transform: translateX(calc(-100% - 2rem)) translateY(-100%) scale(3.5);
}
@media (max-width: 768px) {
  .certificates__item:nth-child(3) {
    width: 100%;
    height: 20.7rem;
    background: url("../assets/image/certificate-1.jpg") no-repeat 0 0/cover;
    transition: transform 0.7s, box-shadow 0.7s;
  }
  .certificates__item:nth-child(3):hover {
    box-shadow: 0 0 0.5rem 0.1rem #6d6e72;
    transform: translateX(calc(-100% - 2rem)) translateY(-100%) scale(3);
  }
}/*# sourceMappingURL=style.css.map */